In [2]:
import pandas as pd
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# Arithmetic Operations
series2 = series + 10
print(series2)
# Filtering
filtered_series = series[series > 2]
print(filtered_series)
# Statistical Calculations
mean_value = series.mean()
print(mean_value)

0    11
1    12
2    13
3    14
4    15
dtype: int64
2    3
3    4
4    5
dtype: int64
3.0

In [2]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
print(df[['Name']])

      Name
0    Alice
1      Bob
2  Charlie

In [8]:
df['Salary'] = [70000, 80000, 90000]
print(df)

      Name  Age  Salary
0    Alice   25   70000
1      Bob   30   80000
2  Charlie   35   90000

In [10]:
if 'City' in df.columns:
	df = df.drop('City', axis=1)
print(df)

      Name  Age  Salary
0    Alice   25   70000
1      Bob   30   80000
2  Charlie   35   90000

In [12]:
print(df.loc[[0]])

    Name  Age  Salary
0  Alice   25   70000

In [14]:
print(df.loc[[0, 1]])

    Name  Age  Salary
0  Alice   25   70000
1    Bob   30   80000

In [15]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [18]:
dat = pd.read_csv("data.csv")
print(dat)

   Name City  Number
0     A    M       1
1     B    N       4
2     C    V       5
3     D    B       7
4     E    J       8
5     F    G       9
6     G    F       7
7     H    D       5
8     I    C       6
9     J    X       7
10    K    Z       3
11    L    S       4
12    M    R       6

In [ ]:
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 35, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)
df.to_csv('Biodata.csv', index=False)

None

In [22]:
dat = pd.read_csv("data.csv")
print(dat.info())
# shows first and last five rows
print(dat.head())
print(dat.tail())
print(dat.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    13 non-null     object
 1   City    13 non-null     object
 2   Number  13 non-null     int64
dtypes: int64(1), object(2)
memory usage: 444.0+ bytes
None
  Name City  Number
0    A    M       1
1    B    N       4
2    C    V       5
3    D    B       7
4    E    J       8
   Name City  Number
8     I    C       6
9     J    X       7
10    K    Z       3
11    L    S       4
12    M    R       6
          Number
count  13.000000
mean    5.538462
std     2.183857
min     1.000000
25%     4.000000
50%     6.000000
75%     7.000000
max     9.000000

In [24]:
print(dat[['Name']])
print(dat[['Name','Number']])
print(dat.loc[[1]])

   Name
0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
   Name  Number
0     A       1
1     B       4
2     C       5
3     D       7
4     E       8
5     F       9
6     G       7
7     H       5
8     I       6
9     J       7
10    K       3
11    L       4
12    M       6
  Name City  Number
1    B    N       4

In [28]:
import numpy as np


data = {
    'A': [np.nan, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'B': np.random.normal(50, 15, 10),
    'C': np.random.rand(10) * 100,
    'D': np.linspace(1, 10, 10),
    'E': np.logspace(1, 2, 10)
}
df = pd.DataFrame(data)
print(df)

      A          B          C     D           E
0   NaN  37.576213  24.830553   1.0   10.000000
1   2.0  43.089355   3.281344   2.0   12.915497
2   3.0  48.147925  29.105024   3.0   16.681005
3   4.0  64.770123  87.007546   4.0   21.544347
4   5.0  65.006815  73.043146   5.0   27.825594
5   6.0  54.851695   6.175513   6.0   35.938137
6   7.0  48.315447  12.518570   7.0   46.415888
7   8.0  51.660510  49.618557   8.0   59.948425
8   9.0  41.483708  85.024367   9.0   77.426368
9  10.0  42.255159  43.445603  10.0  100.000000

In [29]:
# Create two sample Pandas Series
s1 = pd.Series([10, 20, 30, 40, 50])
s2 = pd.Series([1, 2, 3, 4, 5])

# Addition
add_result = s1 + s2
print("Addition:\n", add_result)

# Subtraction
sub_result = s1 - s2
print("Subtraction:\n", sub_result)

# Multiplication
mul_result = s1 * s2
print("Multiplication:\n", mul_result)

# Division
div_result = s1 / s2
print("Division:\n", div_result)

Addition:
 0    11
1    22
2    33
3    44
4    55
dtype: int64
Subtraction:
 0     9
1    18
2    27
3    36
4    45
dtype: int64
Multiplication:
 0     10
1     40
2     90
3    160
4    250
dtype: int64
Division:
 0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [32]:
import numpy as np

# Create a Pandas Series from a list
list_data = [10, 20, 30, 40]
series_from_list = pd.Series(list_data)
print("Series from list:\n", series_from_list)

# Create a Pandas Series from a numpy array
array_data = np.array([5, 15, 25, 35])
series_from_array = pd.Series(array_data)
print("\nSeries from numpy array:\n", series_from_array)

# Create a Pandas Series from a dictionary
dict_data = {'a': 100, 'b': 200, 'c': 300}
series_from_dict = pd.Series(dict_data)
print("\nSeries from dict:\n", series_from_dict)

Series from list:
 0    10
1    20
2    30
3    40
dtype: int64

Series from numpy array:
 0     5
1    15
2    25
3    35
dtype: int64

Series from dict:
 a    100
b    200
c    300
dtype: int64

In [33]:
# Stack two series vertically (concatenate)
vertical_stack = pd.concat([s1, s2], axis=0)
print("Vertical Stack:\n", vertical_stack)

# Stack two series horizontally (as columns in a DataFrame)
horizontal_stack = pd.concat([s1, s2], axis=1)
horizontal_stack.columns = ['s1', 's2']
print("\nHorizontal Stack:\n", horizontal_stack)

Vertical Stack:
 0    10
1    20
2    30
3    40
4    50
0     1
1     2
2     3
3     4
4     5
dtype: int64

Horizontal Stack:
    s1  s2
0  10   1
1  20   2
2  30   3
3  40   4
4  50   5

In [31]:
biodata_series = pd.Series(Biodata)
print(biodata_series)

Name      [John, Emily, Mike, Lisa]
Age                [28, 23, 35, 31]
Gender                 [M, F, M, F]
dtype: object