In [3]:
a_tuple = (0, [1, 2, 3], (4, 5, 6), 7.0)
print(a_tuple)

(0, [1, 2, 3], (4, 5, 6), 7.0)

In [4]:
languages = ('Python', 'Swift', 'C++')
languages = ('Python', 'Swift', 'C++')
# access the first item
print(languages[0])

Python

In [5]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(cars))

Total Items: 4

In [2]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [3]:
b = tuple(range(5,10))
print(b)

(5, 6, 7, 8, 9)

In [5]:
c = tuple(range(0,10,2))
print(c)

(0, 2, 4, 6, 8)

In [6]:
d = tuple(range(10,0,-2))
print(d)

(10, 8, 6, 4, 2)

In [7]:
d = (3,[5,6,7],(4,5,6),[5,6,7,(6,7,8)],9,10)
d[1][1]

6

In [8]:
t1 = (2,3,4,5)
print(sum(t1))

14

In [9]:
t3 = (3,4,4,2,2,3,6,7,4,4)
print(t3.count(4))

4

In [10]:
t3 = (3,4,4,2,2,3,6,7,4,4)
print(t3.index(2))
print(t3.index(4,3,9))

3
8

In [11]:
t3 = (3,4,4,2,2,3,6,7,4,4)
print(min(t3))

2

In [14]:
numbers = (7, 2, 8, 5, 9)
print(max(numbers))

9

In [16]:
a = (5,6,7,5,5,9,7)
b = ("a","b","v","b")
my_tu_1 = tuple(dict.fromkeys(a))
print(my_tu_1)
my_tu_2 = tuple(dict.fromkeys(b))
print(my_tu_2)

(5, 6, 7, 9)
('a', 'b', 'v')

In [18]:
first_names = ('Simon', 'Sarah', 'Mehdi', 'Fatime')
last_names = ('Sinek', 'Smith', 'Lotfinejad', 'Lopes')
ages = (49, 55, 39, 33)
zipped = tuple(zip(first_names, last_names,ages))
print(zipped)

(('Simon', 'Sinek', 49), ('Sarah', 'Smith', 55), ('Mehdi', 'Lotfinejad', 39), ('Fatime', 'Lopes', 33))

In [20]:
b = ((1,2),(3,4),(5,6))
my = tuple(item for l in b for item in l)
print(my)

(1, 2, 3, 4, 5, 6)

In [21]:

def count_occurrences(tup, element):
    return tup.count(element)

my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
occurrences = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

In [22]:

# b.Write a Python program to Check if an element exists in a tuple.
t3 = (3,4,4,2,2,3,6,7,4,4)
print(4 in t3)

True

In [23]:

# c.Write a Python program to Convert a tuple to a string.
def tuple_to_string(tup):
    return ''.join(map(str, tup))
my_tuple = (1, 2, 3, 4)
my_string = tuple_to_string(my_tuple)
print(my_string)

1234

In [24]:
# d.Write a Python program to Find the maximum and minimum elements in a tuple.
def find_max_min(tup):
    return max(tup), min(tup)
my_tuple = (1, 2, 3, 4, 5)
max_value, min_value = find_max_min(my_tuple)
print(f"Maximum: {max_value}, Minimum: {min_value}")

Maximum: 5, Minimum: 1

In [25]:
# e.Write a Python program to convert a tuple of strings to a single string.
def convert_tuple_to_string(tup):
    return ' '.join(tup)
my_tuple = ('Hello', 'World', 'Python')
my_string = convert_tuple_to_string(my_tuple)
print(my_string)

Hello World Python

In [26]:

# f.Write a Python program to sort a tuple of integers.
def sort_tuple(tup):
    return tuple(sorted(tup))
my_tuple = (5, 2, 9, 1, 5, 6)
sorted_tuple = sort_tuple(my_tuple)
print(sorted_tuple)

(1, 2, 5, 5, 6, 9)

In [27]:
# g.Write a python program to find the first and last elements of a tuple.
def first_and_last(tup):
    return tup[0], tup[-1]
my_tuple = (1, 2, 3, 4, 5)
first_element, last_element = first_and_last(my_tuple)
print(f"First element: {first_element}, Last element: {last_element}")

First element: 1, Last element: 5