In [2]:
a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [4]:
b = list(range(5,10))
print(b)

[5, 6, 7, 8, 9]

In [7]:
c = list(range(0,10,2))
print(c)

[0, 2, 4, 6, 8]

In [9]:
d = list(range(10,0,-2))
print(d)

[10, 8, 6, 4, 2]

In [11]:
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

In [13]:
List = ['Mathematics', 'chemistry', 1997, 2000]
# Insert at index 2 value 10087
List.insert(2, 10087)
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [15]:
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]
# Add List2 to List1
List1.extend(List2)
print(List1)

[1, 2, 3, 2, 3, 4, 5]

In [17]:
List = [1, 2, 3, 4, 5]
print(sum(List))

15

In [19]:
List = ['gfg', 'abc', 3]
print(sum(List))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(len(List))

10

In [26]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

1

In [28]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2, 2))

4

In [29]:
numbers = [5, 2, 8, 1, 9]
print(min(numbers))

1

In [31]:
numbers = [5, 2, 8, 1, 9]
print(max(numbers))

9

In [33]:
List = [2.3,4.445,3,5.33,1.054,2.5]
List.sort()
print(List)

[1.054, 2.3, 2.5, 3, 4.445, 5.33]

In [35]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
#Reverse flag is set True
List.sort(reverse=True) 
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

In [37]:
# creating a list
list = [1,2,3,4,5]
#reversing the list
list.reverse()
#printing the list
print(list)

[5, 4, 3, 2, 1]

In [39]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop())

2.5

In [41]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop(0))

2.3

In [43]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
del List[0]
print(List)

[4.445, 3, 5.33, 1.054, 2.5]

In [45]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.remove(3)
print(List)

[2.3, 4.445, 5.33, 1.054, 2.5]

In [47]:
my_list_1 = [5, 2, 90, 24, 10, 2, 90, 34]
my_list_2 = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']

# removing duplicates from list 1
my_list_1 = list(dict.fromkeys(my_list_1))
print(my_list_1)

TypeError: 'list' object is not callable

In [49]:
my_list_2 = list(dict.fromkeys(my_list_2))
print(my_list_2)

TypeError: 'list' object is not callable

In [51]:
my_list_1 = [5, 2, 90, 24, 10]
my_list_2 = [6, 3, 91, 25, 12]

# combined
my_combined_list = list(zip(my_list_1, my_list_2))
print(my_combined_list)

TypeError: 'list' object is not callable

In [53]:
my_list = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']
most_frequent_value = max(set(my_list), key=my_list.count)
print("The most common element is:", most_frequent_value)

The most common element is: a

In [55]:
list_of_lists = [[1, 2],
                 [3, 4],
                 [5, 6],
                 [7, 8]]
# using list comprehension
my_list = [item for List in list_of_lists for item in List]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
result = 1
for item in a:
    result *= item
print("Product of all items in the list:", result)

In [57]:

numbers = [2, 3, 4, 5]

result = 1

for n in numbers:
    result *= n

print("Product of all items in the list:", result)

Product of all items in the list: 120

In [58]:
# Define the list
numbers = [2, 3, 4, 5, 12, 7]

# Use the built-in max function
largest = max(numbers)

print("The largest number in the list is:", largest)

The largest number in the list is: 12

In [60]:

if 'list' in locals():
	del list

numbers = [2, 3, 4, 5, 3, 2, 7, 5]
unique_numbers = list(dict.fromkeys(numbers))
print(unique_numbers)

[2, 3, 4, 5, 7]

In [61]:
numbers = [2, 3, 4, 5, 3, 2, 7, 5]
frequency = {}

for item in numbers:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

print(frequency)

{2: 2, 3: 2, 4: 1, 5: 2, 7: 1}

In [62]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = list(set(list1) & set(list2))
print("Common items:", common)

Common items: [4, 5]

In [63]:
numbers = [1, 2, 3, 4, 5]

# Convert each integer to string and join them
number_str = ''.join(map(str, numbers))

# Convert the combined string back to an integer
result = int(number_str)

print(result)

12345