In [26]:
celsius = 25  # example value
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}째C is equal to {fahrenheit}째F")

25째C is equal to 77.0째F

In [25]:
x = 2
y = 4

z = (x + y) * (x + y) - 2 * x * y
print("The value of z is:", z)

The value of z is: 20

In [24]:
z = (x + y) * (x - y)
print("The value of z is:", z)

The value of z is: -5

In [23]:
side = 5 
cube_area = 6 * (side ** 2)
cube_volume = side ** 3

print("Area of Cube:", cube_area)
print("Volume of Cube:", cube_volume)

Area of Cube: 150
Volume of Cube: 125

In [ ]:
number = 7  

if number % 2 == 0:
	print(number, "is even")
else:
	print(number, "is odd")
	
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

7 is odd
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [ ]:

length = 10  
width = 5   

area = length * width
perimeter = 2 * (length + width)

print("Area of Rectangle:", area)
print("Perimeter of Rectangle:", perimeter)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

Area of Rectangle: 50
Perimeter of Rectangle: 30

In [20]:
x = 2
y = 3
z = 2
print(x**y**z)
print((x**y)**z)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

512
64
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [19]:
x = 3
y = 4
z = 6
print(x * y // z)
print(x * (y // z))
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

2
0
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [18]:
print (((5 + 4) / 3) * 2)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

6.0
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [15]:
e = -5
f = -2
res3 = e % f
print (res3)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

-1
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [14]:
m = 5
n = -2
res2 = m % n
print (res2)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

-1
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [13]:
a = -10
b = 2
res1 = a % b
print (res1)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

0
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [12]:
x = 10
y = 1
mod = x % y
print (mod)
print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

0
----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------

In [10]:
a, b = 10, 2
floordiv = a // b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The floor division of", a, "and", b, "is:", floordiv)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The floor division of 10 and 2 is: 5

In [9]:
a, b = 10, 2
exp = a ** b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The exponentiation of", a, "to the power of", b, "is:", exp)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The exponentiation of 10 to the power of 2 is: 100

In [ ]:
a, b = 10, 2
mod= a%b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The modulo of",a,"and",b,"is:",mod)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The modulo of 10 and 2 is: 0

In [6]:
a, b = 10, 2
div= a/b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The division of",a,"and",b,"is:",div)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The division of 10 and 2 is: 5.0

In [5]:
a, b = 10, 10
muti= a*b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The multiplication of",a,"and",b,"is:",muti)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The multiplication of 10 and 10 is: 100

In [4]:
a, b = 10, 2
sub= a-b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The subtraction of",a,"and",b,"is:",sum)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The subtraction of 10 and 2 is: 8

In [1]:
a, b = 10, 30
sum= a+b

print("----------------------------------------")
print("Enroll : 92510133027, Name : Meet")
print("----------------------------------------")

print("The sum of",a,"and",b,"is:",sum)

----------------------------------------
Enroll : 92510133027, Name : Meet
----------------------------------------
The sum of 10 and 30 is: 40